@use '../../../scss' as *;
main.admin_login_page{
  @include base-main-admin("false");
  .login_form {
    @include base-form(21rem);
    h1 {
      font-size: 2rem;
      margin-bottom: .7rem;
    }
    a {
      @include link-style;
      margin-bottom: .6rem;
    }
    .container:last-of-type{
      margin-bottom: 1rem;
    }
    button {
      @include form-btn;
    }
  }
}