@use '../../scss' as *;

header {
  @include display-flex(row, space-between, center);
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-bottom: 1px solid $border-color;
  padding: 0 2rem;
  .leftside {
    @include display-flex(row, flex-start, center);
    .logo {
      @include display-flex(row, flex-start, center);
      margin-right: 2rem;
      &:focus-visible{
        border: 1px solid #08529c2d;
        border-radius: .5rem;
      }
      img {
        height: 3rem;
        width: 3rem;
      }
      span {
        margin-left: .3rem;
        font-size: 2rem;
      }
  }
}
  div{
    display: flex;
    .btn{
      @include display-flex(row, center, center);
      border-radius: .56rem;
      height: 3rem;
      width: 7.3rem;
      margin-left: 1.3rem;
      transition: all .1s ease;
      &:focus-visible {
        outline: 2px solid rgba(104, 40, 206, 0.514);
      }
    }
    .login_btn{
      color: #415eef9c;
      background: rgba(208, 208, 208, .51);
      position: relative;
      &:hover {
        background: rgba(208, 208, 208, .7);
      }
    }
    .register_btn{
      color: #fff;
      background: linear-gradient(180deg, rgba(178, 142, 252, .8) 10%, rgba(65, 93, 239, .8));
      &:hover {
        background: linear-gradient(180deg, rgba(178, 142, 252, .9) 10%, rgba(65, 93, 239, .9));
      }
    }
  }
  .header_profile {
    height: 100%;
    padding: .5rem;
    display: grid;
    grid-template-columns: 3.4rem 1fr 1.5rem;
    grid-template-rows: 50% 50%;
    img {
      @include avatar_image;
      height: 80%;
      grid-column: 1/2;
      grid-row: 1/3;
      align-self: center;
    }
    .profile_name {
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 0.1rem .75rem;
      padding-left: .4rem;
      align-self: flex-end;
      font-size: 1.1rem;
    }
    .profile_logout {
      display: flex;
      justify-content: flex-start;
      grid-column: 2/3;
      grid-row: 2/3;
      padding-left: .4rem;
      font-size: 1rem;
      border: none;
      background: transparent;
      cursor: pointer;
      color: $gray-color;
      align-self: flex-start;
      &:focus-visible{
        outline: 2px solid #3a90e6;
      }
    }
    .open_menu {
      position: relative;
      @include dot_sign_btn;
      grid-column: 3/4;
      grid-row: 1/2;
      border-radius: .1rem;
      align-self: flex-end;
      margin-bottom: .25rem;
      & .profile_menu {
        @include overlay_menu;
      }
    }
  }
}