@use '../../../scss' as *;
main.admin_main_page{
  @include base-main-admin("true");
  justify-content: flex-start;
  align-items: flex-start;
  .statistics {
    @include display-flex(column);
    padding: 1rem 2rem;
    .stat_row {
      @include display-flex(row);
      margin-left: .3rem;
      margin-bottom: .2rem;
      font-size: 1.2rem;
      color: darken($gray-color, 20);
      span {
        color: rgb(32, 32, 32);
        font-weight: bold;
        padding-left: .3rem;
      }
    }
  }
}