.login {
  height: 100vh;
  justify-content: center;

  .title {
    margin: 50px 0;
    font-family: 'Cutive', serif;
    font-size: 36px;
    color: #6666B5;
  }

  .entry {
    color: #6666B5;
    font-weight: 700;
  }
}
