@use '../../scss' as *;

.create_oauth_client_popup_container {
  @include base-form(26rem);

  h1 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }
  .buttons {
    @include display-flex(row, space-between, center);
    button {
      @include form-btn;
      width: 8rem;
    }
  }
}